
@{
    ViewBag.Title = "SamplePDF";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    
    <script src="~/lib/Webviewer/webviewer.min.js"></script>
    <title>PDF sample</title>
    <script src="~/lib/Webviewer/webviewer.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            WebViewer({
                path: 'https://localhost:44315/lib/Webviewer/',
                initialDoc: 'https://localhost:44315/content/files/@ViewBag.filename',
                licenseKey: "CenpdOfy8ec8yMBb2buAny0ZfxGEwI4vJwgBXHqDjs6mbvpA06TJ8aXYpKAnktDtZ-iznzEESuEZyRYslEN-genBbMbVivfzEGLJmDF33-NL3MpPCTPJdlA09q8WuSZTFWO1UGdCoOpwAuuKHftV-5R2cDHJcrIlY65JuLxGZ1DNpZ800crnXsPNtnN3gnYhhayIQr4HxdnIMZ7xpGJyJqWUVlnC0ZEzhNS6EEWbeLUoIAwkdgaF6IO3qZkqQ02W1jxEfXix5CqQQlcM_6sllYp9xipqdqFnftIEwlYUBUNDSIdKVu0Hthc-jAr6QDQ7QNhXQ0kqoUDoMFqm5nlhaZgCndc9Nsvl4b3Yb5hZK-K6EVZ4YoS6yj7RFtLFXs3h6atJZ_kC1brNUUBQVIDc3B8Y_7SuSmXm_UV9Ce0bbHqas1iRMz4-uDxHS0qIvfFV",
            }, document.getElementById('viewer')).then(instance => {
                instance.setTheme('dark');
                const docViewer = instance.docViewer;
                const annotManager = instance.annotManager;
                docViewer.on('documentLoaded', () => {
                });
            });
        });
    </script>
</head>
<body>
    <div class="main-panel" id="viewer1" style='width: 1024px; height: 600px; margin: 0 auto;'>
        <div class="main-panel" id="viewer" style='width: 1024px; height: 600px; margin: 0 auto;'>
        </div>
    </div>
</body>
</html>

