
@{
    ViewBag.Title = "VerifyAccount";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2 style="text-align:center;color:#e92056">VerifyAccount</h2>
<div class="row col d-flex justify-content-center">
    <div class="col-md-9">
        <div class="card-body border border-secondary">
            <p>Hello, @User.Identity.Name</p>
            <p>Account Verification error!, Please contact to Admistrative.</p>
            <br />
            <br />
            <p><b>Thanks & Regards,</b></p>
            <p>ClassOne Team</p>
        </div>

    </div>
</div>